{{ define "header" }}

<!doctype html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html class="ie"> <![endif]-->
<!--[if !IE]><!--> <html>             <!--<![endif]-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SITREP</title>


<link rel="stylesheet" media="screen" href="//ga15.sitrep-vatcinc.com/assets/styles/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="shortcut icon" type="image/png" href="//ga15.sitrep-vatcinc.com/assets/images/favicon.png">

</head>

  <body>

<header id="top-menu">
  <nav>
    <span class="site-logo">
      <a href="/">
        <img style="width:300px" src="//ga15.sitrep-vatcinc.com/assets/images/logo.png" />
      </a>
    </span>
    <div class="nav left">
      <div class="items">
        <span class="text">
          <a href="/">
            Home
          </a>
        </span>
        <span class="text"><a href="/intellipedia"  target="_blank" >Intellipedia</a></span>
        <span class="text searchtext"><form action="/services/search"><label class="searchbar-label"><small>Search: </small></label><input id="search-bar" type="text" name="q" placeholder="Search"/></form></span>
      </div>
    </div>
    </ul>
  </nav>
</header>

{{ end }}
