{{ define "searchResult" }}
{{template "header"}}
<style>
.search-bar{
  width:100%;
  padding: 20px;
  font-size: 18px;
}
.page-entry{
  border-bottom: 1px dashed #ccc;
}
.page-entry:last-child{
  border: 0
}
.page-img,
.page-contents{
  display: inline-block;
}
.page-img{
  width: 20%;
  margin: 10px
}
.page-contents{
  width: 70%;
}
.page-preview{
  font-weight: bold
}
.page-title{
  font-size: 20px;
  margin-bottom: 10px
}
</style>
<div id="intellipedia">

<h2>Results: </h2>

<h3>Intellipedia</h3>
{{ if not .Intellipedia }}
No match
{{ end }}
<div class="pages-list">

{{ range .Intellipedia }}
  <div class="page-entry">
    {{ if .Image }}
      <div class="page-img">
        <a href="{{ .Link }}"><img style="height:100px;width:auto" src="/assets/{{ .Image }}" width="245"/></a>
      </div>
    {{ end }}
    <div class="page-contents">
      <div class="page-title"><a href="{{ .Link }}">{{ .Title }}</a></div>
      <div class="page-preview"><a href="{{ .Link }}">{{ .Preview }}<b>Read more...</b></a></div>
    </div>
  </div>
{{ end }}
</div>

<hr />
<h3>News</h3>
{{ if not .News }}
No match
{{ end }}
<div class="pages-list">
{{ range .News }}
<div class="page-entry">
  {{ if .Image }}
    <div class="page-img">
      <a href="{{ .Link }}"><img src="/assets/{{ .Image }}" width="245"/></a>
    </div>
  {{ end }}
  <div class="page-contents">
    <div class="page-title"><a href="{{ .Link }}">{{ .Title }}</a></div>
    <div class="page-preview"><a href="{{ .Link }}">{{ .Preview }}<b>Read more...</b></a></div>
  </div>
</div>
{{ end }}
</div>

<hr />
<h3>Sites</h3>
{{ if not .Sites }}
No match
{{ end }}
<div class="pages-list">
{{ range .Sites }}
<div class="page-entry">
  {{ if .Image }}
    <div class="page-img">
      <a href="{{ .Link }}"><img src="/assets/{{ .Image }}" width="245"/></a>
    </div>
  {{ end }}
  <div class="page-contents">
    <div class="page-title"><a href="{{ .Link }}">{{ .Title }}</a></div>
    <div class="page-preview"><a href="{{ .Link }}">{{ .Preview }}<b>Read more...</b></a></div>
  </div>
</div>
{{ end }}
</div>
</div>
{{template "footer"}}
{{ end }}
