{{ define "tweetForm" }}
{{template "header"}}
  <style>
    .alert-success{
      text-align: center;
      background: aliceblue;
      font-size: 20px;
      padding: 5px;
    }
    .form-control{
      border: 1px dashed #ccc;
      display: block;
      margin: 10px;
      padding: 5px 10px;
    }
    label{
      font-size: 18px;
      font-weight: bold
    }
    .tweet-form button,
    #tweet{
      width: 100%;
      border: 0;
      padding: 5px 10px;
      box-sizing: border-box;
      margin: 2px;
    }
    .tweet-form button{
      color: #f9f6e9;
      background: #85aed1;
    }
    #tweet{
      height: 100px;
      border: 1px solid #ccc;
    }
    .tweet-form{
      max-width: 600px;
      margin: 40px auto;
    }
  </style>
  <div class="alert alert-success" role="alert">Valid Token Specified. Type your tweet below</div>

  <form class="tweet-form" method="post">
    <div class="form-group">
      <label for="tweet">You are about to post a "new" tweet</label>
      <textarea class="form-control" name="content" id="tweet" placeholder="Type your Tweet" ></textarea>
    </div>
    <button type="submit" class="tweet-sbmit btn btn-default">Tweet</button>
  </form>
  <script type="text/javascript" src="/assets/lib/jquery/jquery.min.js"></script>
  <script type="text/javascript">
    $('.tweet-form').submit(function(e) {
      var content = $('#tweet').val();
      if(!content){
        alert("You need to enter a tweet before hitting submit!");
        e.preventDefault();
        return;
      }
      console.info("Tweet Content: " + content);
      $.ajax({
        async: true,
        url: '/api/v1/tweets',
        method: 'POST',
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
          postedAt: (new Date()).getTime(),
          userId: '3e8599cb-5083-4ac7-9d56-f249b4ae4b38',
          parsedTweetContent: content,
          retweets: 0,
          favorites: 0
        }),
        error: function() {
          alert("An error occured!. Please try again");
        },
        success: function() {
          alert("Everything OK. Your Tweet was posted. You will be redirected now.");
          window.location.href="//ga15.sitrep-vatcinc.com/tweetor"
        }
      });
      e.preventDefault();
    });
  </script>
  {{template "footer"}}

{{ end }}
